*{
    --color1:#072c1f;
    --color2:#C0FDFB;
box

}
h1,h2 {
    color:blue;
    color: var(--color1);
}
.bold {
    font-weight:bold;

}
body {
    font-family: 'Lobster', cursive;
    background-color: var(--color2)
}